.App {
  text-align: left;
  margin-left: 42px;
}

.labelStyle {
  margin-right: 12px;
  font-size: 14px;
  font-weight: bold;
}

.inputStyle {
  height: 32px;
}

.inputStyleLong {
  height: 32px;
  width: 40%;
}

.container {
  display: block;
  margin: 12px 0;
}

.contentWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contentWrapperReversed {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.breakLine {
  flex-direction: column;
  align-items: flex-start;
  margin: 12px 0;
}

.messageWrapper {
  border: 1px dashed #000;
  padding: 8px;
  margin: 8px 8px 8px 0;
  width: 40%;
}

.messageWrapper > p {
  margin: 0;
  margin-bottom: 4px;
}
